{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% load widget_tweaks %}
{% block title %}RenzoMoney - Dashboard {% endblock title %}
{% block content %}
    <div class="container">
    <div class="alert alert-success" style="margin-top: 50px">
        <h4>{% if user.userprofile.picture.url != "" %}
            <img src="{{ user.userprofile.picture.url }}" width = "60" height = "60" style="border-radius: 50%"  />
        {% else %}
            <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width = "60" height = "60" style="border-radius: 50%" />
        {% endif %}&nbsp&nbsp<strong>Hello! {{ user.get_username }}, </strong>&nbsp&nbspWelcome to your Dashboard
        {% if user.useraccount.plan_type != "" %}<strong style="float: right;padding-top: 15px;">Plan: {{ user.useraccount.plan_type }}</strong></h4>
        {% endif %}
    </div>
    {% include 'side_menu.html' %}

        <h4>Get Help</h4>
    {% if next_payee.confirm1 == 1 %}
        <div class="alert alert-info col-sm-4" style="margin-top: 100px">
            <p>{{ next_payee }} was already confirmed by you</p>
        </div>
    {% else %}
            <div class="col-sm-4">
            <div id="payment_info">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Name: {{ next_payee|capfirst }}</strong></h3>
                </div>
                <div class="panel-body">
                    {% if payee_profile.picture.url != "" %}
                        <img style="float: right" src="{{ payee_profile.picture.url }}" width = "100" height = "100" style="border-radius: 50%"  />
                    {% else %}
                        <img style="float: right" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width = "100" height = "100" style="border-radius: 50%" />
                    {% endif %}
                    <p>Phone Number: {{ payee_profile.phone }}</p>
                    <strong><h5><u>Bank Details</u></h5></strong>
                    <p>Account Number: {{ next_payee.account_number }}</p>
                    <p>Bank Name: {{ next_payee.bank_name }}</p>
                    <p>Account Type: {{ next_payee.account_type }}</p><center>

                        <a href="{% url 'confirm_payment1' user_id=request.user.id id=next_payee.id %}" class="btn btn-lg btn-info btn-block">Confirm</a>
                        <h6><strong>Please confirm you've received the payment</strong></h6></center>
                </div>
              </div>
            </div>
            </div>
    {% endif %}
    {% if second_payee.confirm2 == 1 %}
        <div class="alert alert-info col-sm-4" style="margin-top: 100px">
            <p>{{ second_payee }} was already confirmed by you.</p>
        </div>
    {% else %}
    <div class="col-sm-4">
            <div id="payment_info">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Name: {{ second_payee|capfirst }}</strong></h3>
                </div>
                <div class="panel-body">
                    {% if second_payee_profile.picture.url != "" %}
                        <img style="float: right" src="{{ second_payee_profile.picture.url }}" width = "100" height = "100" style="border-radius: 50%"  />
                    {% else %}
                        <img style="float: right" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" width = "100" height = "100" style="border-radius: 50%" />
                    {% endif %}
                    <p>Phone Number: {{ second_payee_profile.phone }}</p>
                    <strong><h5><u>Bank Details</u></h5></strong>
                    <p>Account Number: {{ second_payee.account_number }}</p>
                    <p>Bank Name: {{ second_payee.bank_name }}</p>
                    <p>Account Type: {{ second_payee.account_type }}</p><center>

                        <a href="{% url 'confirm_payment2' user_id=request.user.id id=second_payee.id %}" class="btn btn-lg btn-info btn-block">Confirm</a>
                        <h6><strong>Please confirm you've received the payment</strong></h6></center>
                </div>
              </div>
            </div>
            </div>
    {% endif %}
    </div>
{% endblock content %}